/* Reset CSS */
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body
{
    font-family: "Roboto" !important;
}
a
{
    text-decoration: none !important;
}
/* Support */
.none_margin_padding
{
    margin: 0 !important;
    padding: 0 !important;
}
.set_icon
{
    font-weight: bolder !important;
    font-size: 1.2rem !important;
    padding: 0 1rem 0 1rem;
}
.ti-settings, .ti-bell
{
    color: white !important;
}
.ti-bell
{
    margin-right: 1.5rem;
}
.avatar 
{
    align-items: center;
    display: flex;
    justify-content: center;

    height: 5rem;
    width: 5rem;
}
.avatar_image 
{
    height: 50%;
    width: 50%;
    
    border-radius: 2rem;
}

/* HEADER */
.header, .navbar, .card-header
{
    padding: 0 !important;
}
.bg
{
    background: #06492C;
}
img.logo
{
    width: 3.5rem;
    margin: 0rem 1rem 0rem 1rem;
}
h1
{
    font-size: 1.5rem !important;
}
strong.name_1, i.sub1
{
    color: orangered;
}
strong.name_2, i.sub2
{
    color: white;
}
